
<div class="container mx-auto fixed right-10 sm:rounded-lg">
    <table class="container mx-auto relative overflow-x-auto shadow-md sm:rounded-lg">
        <thead class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-blue-950
bg-blue-950">
                    Product name
                </th>
                <th scope="col" class="px-6 py-3">
                    Color
                </th>
                <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-blue-950
bg-blue-950">
                    Category
                </th>
                <th scope="col" class="px-6 py-3">
                    Price
                </th>
            </tr>
        </thead>
        
        <tbody>
            <tr class="border-b border-gray-200 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-blue-950
bg-blue-950">
                    Apple Pão de queijo 17"
                </th>
                <td class="px-6 py-4">
                    Silver
                </td>
                <td class="px-6 py-4 bg-gray-50 dark:bg-blue-950
bg-blue-950">
                    Lapchease
                </td>
                <td class="px-6 py-4">
                    $2999
                </td>
            </tr>
            <tr class="border-b border-gray-200 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-blue-950
bg-blue-950">
                    Yamaha Abacate recheada 
                </th>
                <td class="px-6 py-4">
                    White
                </td>
                <td class="px-6 py-4 bg-gray-50 dark:bg-blue-950
bg-blue-950">
                    Lapbread PC
                </td>
                <td class="px-6 py-4">
                    $1999
                </td>
            </tr> <tr class="border-b border-gray-200 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-blue-950
bg-blue-950">
                    Honda figado recheada 
                </th>
                <td class="px-6 py-4">
                    White
                </td>
                <td class="px-6 py-4 bg-gray-50 dark:bg-blue-950
bg-blue-950">
                    Lapbread PC
                </td>
                <td class="px-6 py-4">
                    $1999
                </td>
            </tr> <tr class="border-b border-gray-200 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-blue-950
bg-blue-950">
                    Carrefour nescafé recheada 
                </th>
                <td class="px-6 py-4">
                    White
                </td>
                <td class="px-6 py-4 bg-gray-50 dark:bg-blue-950
bg-blue-950">
                    Lapbread PC
                </td>
                <td class="px-6 py-4">
                    $1999
                </td>
            </tr> <tr class="border-b border-gray-200 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-blue-950
bg-blue-950">
                    Growth Seringa recheada 
                </th>
                <td class="px-6 py-4">
                    White
                </td>
                <td class="px-6 py-4 bg-gray-50 dark:bg-blue-950
bg-blue-950">
                    Lapbread PC
                </td>
                <td class="px-6 py-4">
                    $1999
                </td>
            </tr> <tr class="border-b border-gray-200 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-blue-950
bg-blue-950">
                    Brasil = Samba
                </th>
                <td class="px-6 py-4">
                    White
                </td>
                <td class="px-6 py-4 bg-gray-50 dark:bg-blue-950
bg-blue-950">
                    Lapbread PC
                </td>
                <td class="px-6 py-4">
                    $1999
                </td>
            </tr> <tr class="border-b border-gray-200 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-blue-950
bg-blue-950">
                    Neymar errei fui mlk 
                </th>
                <td class="px-6 py-4">
                    White
                </td>
                <td class="px-6 py-4 bg-gray-50 dark:bg-blue-950
bg-blue-950">
                    Lapbread PC
                </td>
                <td class="px-6 py-4">
                    $1999
                </td>
            </tr> <tr class="border-b border-gray-200 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-blue-950
bg-blue-950">
                    Respeita minhas maria 
                </th>
                <td class="px-6 py-4">
                    White
                </td>
                <td class="px-6 py-4 bg-gray-50 dark:bg-blue-950
bg-blue-950">
                    Lapbread PC
                </td>
                <td class="px-6 py-4">
                    $1999
                </td>
            </tr> <tr class="border-b border-gray-200 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-blue-950
bg-blue-950">
                    Titan = implosão 
                </th>
                <td class="px-6 py-4">
                    White
                </td>
                <td class="px-6 py-4 bg-gray-50 dark:bg-blue-950
bg-blue-950">
                    Lapbread PC
                </td>
                <td class="px-6 py-4">
                    $1999
                </td>
            </tr>
            <tr class="border-b border-gray-200 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-blue-950
bg-blue-950">
                    Samsung Tomate recheada 
                </th>
                <td class="px-6 py-4">
                    White
                </td>
                <td class="px-6 py-4 bg-gray-50 dark:bg-blue-950
bg-blue-950">
                    Lapbread PC
                </td>
                <td class="px-6 py-4">
                    $1999
                </td>
            </tr>
            <tr class="border-b border-gray-200 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-blue-950
bg-blue-950">
                    Magic Cheese 2
                </th>
                <td class="px-6 py-4">
                    Black or white
                </td>
                <td class="px-6 py-4 bg-gray-50 dark:bg-blue-950
bg-blue-950">
                    Accessories
                </td>
                <td class="px-6 py-4">
                    $99
                </td>
            </tr>
            <tr class="border-b border-gray-200 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-blue-950
bg-blue-950">
                    Google Coconout Phone
                </th>
                <td class="px-6 py-4">
                    Gray
                </td>
                <td class="px-6 py-4 bg-gray-50 dark:bg-blue-950
bg-blue-950">
                    Phone
                </td>
                <td class="px-6 py-4">
                    $799
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-blue-950
bg-blue-950">
                    Apple  5
                </th>
                <td class="px-6 py-4">
                    Red
                </td>
                <td class="px-6 py-4 bg-gray-50 dark:bg-blue-950
bg-blue-950">
                    Wearables
                </td>
                <td class="px-6 py-4">
                    $999
                </td>
            </tr>
        </tbody>
    </table>
</div>






  