<div class="sidebar" [ngClass]="{ 'collapsed': isCollapsed }">
    <div class="sidebar-header" (mouseenter)="expandSidebar()" (mouseleave)="collapseSidebar()">
      <button class="toggle-button" (click)="toggleCollapse()">
        <i class="fa" [ngClass]="{'fa-chevron-left': isCollapsed, 'fa-chevron-right': !isCollapsed}"></i>
      </button>
      <h2>Sidebar</h2>
    </div>
    <ul class="menu">
      <li *ngFor="let category of categories" [class.open]="category.isOpen">
        <a (click)="toggleCategory(category)">{{ category.name }}</a>
        <ul *ngIf="category.subcategories && category.isOpen">
          <li *ngFor="let subcategory of category.subcategories">
            <a>{{ subcategory.name }}</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  