/* You can add global styles to this file, and also import other style files */

//referente ao caralho sidebar... te que ve como resolve sa pica ai.

.sidebar {
    width: 200px;
    background-color: #f0f0f0;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  .menu-item {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .sub-menu {
    display: none;
    margin-left: 10px;
  }
  
  .sub-menu-item {
    cursor: pointer;
    padding: 5px;
  }
  
  .active {
    background-color: #ccc;
  }
  
  // as funções da sidebar nao funciona mas sabemos o porque.